@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 2rem; /* Equivalent to 32px if the root font-size is 16px */
  font-weight: bold;
  line-height: 1.2;
}

h2 {
  font-size: 1.5rem; /* Equivalent to 24px if the root font-size is 16px */
  font-weight: bold;
  line-height: 1.3;
}

h3 {
  font-size: 1.17rem; /* Roughly equivalent to 18.72px if the root font-size is 16px */
  font-weight: bold;
  line-height: 1.4;
}

h4 {
  font-size: 1rem; /* Equivalent to 16px if the root font-size is 16px */
  font-weight: bold;
  line-height: 1.5;
}

h5 {
  font-size: 0.83rem; /* Roughly equivalent to 13.28px if the root font-size is 16px */
  font-weight: bold;
  line-height: 1.6;
}

h6 {
  font-size: 0.67rem; /* Roughly equivalent to 10.72px if the root font-size is 16px */
  font-weight: bold;
  line-height: 1.6;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.max-h-50vh {
  max-height: 50vh;
}

.link {
  color: #284093;
  cursor: pointer;
}

.link:hover {
  color: #282a33;
}

.rbc-calendar {
  height: 100vh !important;
}

.rbc-label.rbc-time-header-gutter {
  min-width: 9.7%;
}

[data-testid="flowbite-accordion"] button:first-of-type {
  padding: 0.25rem !important;
  --tw-ring-opacity: 0px;
  border-radius: 0px !important;
}

[data-testid="flowbite-accordion-content"] {
  border-radius: 0px !important;
}

/* Open date picker on click anywhere in input */
input[type="date"] {
  display: inline-block;
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

input[type="checkbox"]:checked {
  background-size: 1rem 1em !important;
}

[data-testid="flowbite-accordion-heading"] {
  font-size: 1rem !important;
}

.caret-accordion [data-testid="flowbite-accordion-arrow"] {
  display: none;
}

.caret-accordion [data-testid="flowbite-accordion-heading"] {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

:root {
  --light-blue: #add8e6;
  --light-blue-gradient-start: #b0e0e6;
  --light-blue-gradient-end: #87ceeb;
}

.shiny-light-blue-bg {
  background: linear-gradient(
    145deg,
    var(--light-blue-gradient-start),
    var(--light-blue-gradient-end)
  );
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.link {
  color: #0ea5e9 !important;
}

input {
  border-radius: 0px !important;
}

select {
  border-radius: 0px !important;
}

textarea {
  border-radius: 0px !important;
}

.react-time-picker__inputGroup select {
  background-image: none !important;
}

.react-time-picker__wrapper {
  border: none !important;
}

.btn-primary {
  padding: 1.5rem 3rem;
  border-radius: 5rem;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
}

.btn-primary-md {
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
}
